# Pandas Series
Series is one dimentional array with axis labels

In [1]:
import numpy as np
import pandas as pd

In [2]:
lablels = ['a', 'b', 'c']
my_list = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {'a': 10, 'b': 20, 'c': 100}

In [6]:
pd.Series(my_list)

0    10
1    20
2    30
dtype: int64

In [7]:
# inedx the series with the lables list
pd.Series(data=my_list, index=lablels)

a    10
b    20
c    30
dtype: int64

In [9]:
pd.Series(data=arr)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(arr, lablels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(d)

a     10
b     20
c    100
dtype: int64

In [12]:
pd.Series(data=lablels)

0    a
1    b
2    c
dtype: object

In [13]:
# parsing in functions into series
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [14]:
ser1 = pd.Series([1, 2, 3, 4], index=['USA', 'CHINA','FRANCE','GERMANY'])

In [15]:
ser1

USA        1
CHINA      2
FRANCE     3
GERMANY    4
dtype: int64

In [16]:
ser2 = pd.Series([1, 2, 3, 4], index=['USA', 'CHINA','ITALY','JAPAN'])

In [17]:
ser2

USA      1
CHINA    2
ITALY    3
JAPAN    4
dtype: int64

In [18]:
ser1['USA']

np.int64(1)

In [19]:
ser2['JAPAN']

np.int64(4)

In [ ]:
# adding up two series - adds the values with the same index labels
ser1 + ser2

CHINA      4.0
FRANCE     NaN
GERMANY    NaN
ITALY      NaN
JAPAN      NaN
USA        2.0
dtype: float64