# Pandas Data Frame Part 3

In [1]:
import numpy as np
import pandas as pd

# Creating an index hierarchy

In [ ]:
# Index level
outsite = ['G1', 'G1', 'G1', 'C1', 'C1', 'C1']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outsite, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)  # create multi index from list of tuples

In [3]:
# zip function is used to combine two lists into a list of tuples.
list(zip(outsite, inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('C1', 1), ('C1', 2), ('C1', 3)]

In [7]:
# create a multi index data frame

from numpy.random import randn
df = pd.DataFrame(randn(6, 2), hier_index, ['A', 'B'])

In [8]:
df

             A         B
G1 1  2.000692  0.956311
   2 -0.205670 -0.419489
   3 -0.439462  0.164464
C1 1  1.175616 -2.013563
   2 -0.856493 -0.723440
   3  0.815930 -0.751869

In [9]:
# get everything from group 1 (G1)
df.loc['G1']

          A         B
1  2.000692  0.956311
2 -0.205670 -0.419489
3 -0.439462  0.164464

In [10]:
df.loc['G1'].loc[1]

A    2.000692
B    0.956311
Name: 1, dtype: float64

In [11]:
# check the name of the index levels
df.index.names

FrozenList([None, None])

In [12]:
# Pass in a list of names for the index levels
df.index.names = ['Group', 'Num']
df

                  A         B
Group Num
G1    1    2.000692  0.956311
      2   -0.205670 -0.419489
      3   -0.439462  0.164464
C1    1    1.175616 -2.013563
      2   -0.856493 -0.723440
      3    0.815930 -0.751869

In [14]:
# get value of G2 and num 2, column B
df.loc['C1'].loc[2]['B']

np.float64(-0.723439670159321)

# Cross-Section

In [15]:
df

                  A         B
Group Num
G1    1    2.000692  0.956311
      2   -0.205670 -0.419489
      3   -0.439462  0.164464
C1    1    1.175616 -2.013563
      2   -0.856493 -0.723440
      3    0.815930 -0.751869

In [16]:
df.xs('G1')  # cross-section for level 0 (Group)

            A         B
Num
1    2.000692  0.956311
2   -0.205670 -0.419489
3   -0.439462  0.164464

In [17]:
# get all vlues for num 1
df.xs(1, level='Num')

              A         B
Group
G1     2.000692  0.956311
C1     1.175616 -2.013563